.full {
  z-index: 9999999;
}

body {
  background-repeat: repeat !important;
  background-size: auto !important;
}

/** spacing **/
.sg-marginBottom-medium {
  margin-bottom: 20px;
}

.sg-marginBottom-large {
  margin-bottom: 40px;
}

.sg-marginTop-medium {
  margin-top: 20px;
}

.sg-marginTop-large {
  margin-top: 40px;
}



/** text shadow **/
.sg-strong-dark-text {
  text-shadow: 1px 1px 1px #000;
}

.sg-strong-light-text {
  text-shadow: 1px 1px 1px #fff;
}

.sg-strong-text {
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}


.top-bar {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}


/** ql sizes **/
.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}

.callout p {
  margin: 0;
}


/* fix reveal on ios */
html.is-reveal-open {
  overflow: inherit;
}

body.is-reveal-open {
  overflow: hidden;
}

.reveal.full {
  -webkit-overflow-scrolling: touch;
  top: 0 !important;
}

div.sg_txt p {
  margin: 0;
}