body {
	margin: 0;
	overflow: hidden;	
}

html {
	font-size: 100%;
	font-family: system-ui;
    background-color: #fff;
}

h1 {
	color: rgb(34, 131, 246);
	text-align: center;
	font-size: 18px;
    padding: 10px 20px;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ads_section {
    background-image: url(./images/tv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
	padding: 10vw;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #999;
}

.ads_section a {
    font-size: 18px;
    color: #fff;
}

.links_section {
	flex: 1;
}

.links_section ul {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #999;
    line-height: 1.5;
    font-size: 13px;
}

.links_section ul a {
    color: #4a4a4a;
}